<div class="container__big-card">
    <div class="big-card__photo">
        <img src="{{ photoCard }}"
             alt=""
             height="350px"
             width="550px"
             >       
    </div>
    <div class="container__description">

        <div class="big-card__title">
            <h1><a [routerLink] = "['content', Id]">{{ cardTitle }}</a></h1>
        </div>

        <div class="big-card__description">
            <p>{{ cardDescription }}</p>
        </div>
        
        <button><a 
            [routerLink] = "['content', Id]"
            >
                Continue Reading 
                <i class="ph ph-arrow-right"></i>
            </a>
        </button>
    </div>
</div>
