.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
}

.content_img {
    display: flex;
    margin-right: 40px;
}

.content_img > img {
    height: 350px;
    width: 550px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.content_img > a > i {
    margin-right: 20px;
    cursor: pointer;
    font-size: 25px;
}

.content_title {
    margin-top: 10px;
    cursor: pointer;
}

.content_description > p {
    color: rgb(192, 192, 192);
    margin-top: 20px;
}

hr {
    border-radius: 100%;
    margin-top: 5px;
}

.content_img > a > i:hover {
    color: #0d7060;
    transition:  0.3s ease;
}

.content_title {
    margin-top: 50px;
}

.content_description {
    margin-top: 50px;
}